<%= form_for [@owner.becomes(Owner), @recipe] do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.file_field :photo %>
  </div>
  <h1>statuses</h1>
  <%= f.fields_for :statuses do |sf| %>
    <%= render "status_form", f: sf %>
  <% end %>
  <h1>materials</h1>
  <%= f.fields_for :materials do |mf| %>
    <%= render "material_form", f: mf %>
  <% end %>
  <h1>tools</h1>
  <%= f.fields_for :tools do |tf| %>
    <%= render "tool_form", f: tf %>
  <% end %>
  <h1>ways</h1>
  <%= f.fields_for :ways do |wf| %>
    <%= render "way_form", f: wf %>
  <% end %>
  <div class="field">
    <%= f.hidden_field :owner_id, value: @owner.id %>
  </div>
  <div class="actions">
    <%= f.submit "ok" %>
  </div>
<% end %>
