<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :url %><br>
  <%= f.text_field :url %>
</div>
<div class="field">
  <%= f.label :quantity %><br>
  <%= f.text_field :quantity %>
</div>
<div class="field">
  <%= f.label :size %><br>
  <%= f.text_field :size %>
</div>
<div class="field">
  <%= f.label :description %><br>
  <%= f.text_field :description %>
</div>
<div class="field">
  <%= f.label :photo %><br>
  <%= f.file_field :photo %>
</div>
