<div class="field">
  <%= f.label :description %><br>
  <%= f.text_field :description %>
</div>
<div class="field">
  <%= f.label :photo %><br>
  <%= f.file_field :photo %>
  <%= image_tag f.object.photo %>
</div>
<p><%= f.link_to_remove "Remove this status" %></p>
