<section id="recipes-edit">
  <%= render "basic_information" %>
  <%= render "utils" %>
  <%= render "materials" %>
  <%= render "tools" %>
  <%= render "making" %>
<%# TODO: render "usages" %>
<%# TODO: render "references" %>
</section>


<h1>Editing recipe</h1>

<%= render "form" %>

<%= link_to 'Show', [@user, @recipe] %> |
<%= link_to 'Back', [@user, :recipes] %>
