<section id="recipes_index">
  <h1><%= @owner.name %> のレシピ一覧</h1>
  <div id="recipes">
    <% @recipes.each do |recipe| %>
      <div class="recipe">
        <p class="cover"><%= link_to "", [@owner, recipe] %></p>
        <div class="summary">
          <p><%= recipe.title %></p>
          <p><%= recipe.description %></p>
          <ul>
            <li><%= link_to 'Show', [@owner, recipe] %></li>
            <li><%= link_to 'Edit', [:edit, @owner, recipe] %></li>
            <li><%= link_to 'Destroy', [@owner, recipe], method: :delete, data: {confirm: 'Are you sure?'} %></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>

  <br>

  <%= link_to 'New Recipe', new_owner_recipe_path(@owner) %>
</section>
