<section id="recipes-index">
  <section id="user-pane">
    <div class ="inner">
      <div id="avatar">
        <% if @user.avatar != nil %>
          <%= image_tag @user.avatar %>
        <% end %>
      </div>
      <div id="name">
<%#  TODO: userのrealnameが存在した場合に表示  %>
        <div id="screen-name">
          <%= @user.name %>
        </div>
      </div>
      <div id="joined-on">
        <div id="clock-icon"></div>
        <div id="date">
          Joined on <%= @user.created_at.strftime("%b %d,%Y") %>
        </div>
      </div>
      <div class="stats">
        <div id="follower" class= "card">
          <div class="count">
<%#  TODO: userのfollower数を表示  %>
            7
          </div>
          <p>followers</p>
        </div>
        <div id="starred" class= "card">
<%#  TODO: userがstarした数を表示  %>
          <div class="count">
            5
          </div>
          <p>starred</p>
        </div>
        <div id="following" class= "card">
<%#  TODO: userがstarした数を表示  %>
          <div class="count">
            12
          </div>
          <p>followings</p>
        </div>
      </div>
      <div id="teams">
        <p>Teams</p>
      </div>
    </div>
  </section>

  <section id= "project-pane">
    <div class ="inner">

<%# TODO: #contribution-tabをクリックした時に@userがcontributeしたプロジェクトだけを表示   %>
<%# TODO: #starred-tabをクリックした時に@userがstarしたプロジェクトだけを表示   %>

    <ul class="tabs tabs-horisontal">
        <li class="active"><a data-tab="#project-tab" href="#">Projects</a></li>
        <li><a data-tab="#contribution-tab" href="#">Contribution</a></li>
        <li><a data-tab="#starred-tab" href="#">Starred</a></li>
      </ul>

      <div class="tabs-content">
        <div class="tabs-pane active" id="project-tab">
          <div class="search-bar">
            <div class="search-box">
              <%= form_tag [@user, :recipes], method: :get do %>
                <%= text_field_tag :q, (params[:q] if params[:type] == "own"), placeholder: "Search project", class: "q-field" %>
                <%= hidden_field_tag :type, :own %>
                <%= submit_tag "Search", class:"search-button" %>
              <% end %>
            </div>
            <% if @user == current_user %>
              <span id="create-project">
                <%= link_to "+Project", [:new, current_user, :recipe] %>
              </span>
            <% end %>
          </div>

          <div class="recipes">
            <ul class="recipe-list">
              <% @recipes.each do |recipe| %>
                <li class="recipe-item">
                  <p class="cover"><%= link_to "", [@user, recipe] %></p>
                    <span class="summary">
                        <span class="title">
                          <%= link_to recipe.title, [@user, recipe] %>
                        </span>
                        <span class="avatar-thumb">
                          <% if @user.avatar != nil %>
                            <%= link_to image_tag(@user.avatar), @user %>
                          <% end %>
                        </span>
                        <span class="name">
                          <%= link_to recipe.user.name, @user %>
                        </span>
                        <span class="description">
                          <%= recipe.description %>
                        </span>
                    </span>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="tabs-pane" id="contribution-tab">
          <div class="search-bar">
            <div class="search-box">
              <%= form_tag [@user, :recipes], method: :get do %>
                <%= text_field_tag :q, (params[:q] if params[:type] == "contributed"), placeholder: "Search project", class: "q-field" %>
                <%= hidden_field_tag :type, :contributed %>
                <%= submit_tag "Search", class:"search-button" %>
              <% end %>
            </div>
          </div>

          <div class="recipes">
            <ul class="recipe-list">
              <% @recipes.each do |recipe| %>
                <li class="recipe-item">
                  <p class="cover"><%= link_to "", [@user, recipe] %></p>
                    <span class="summary">
                        <span class="title">
                          <%= link_to recipe.title, [@user, recipe] %>
                        </span>
                        <span class="avatar-thumb">
                          <% if @user.avatar != nil %>
                            <%= link_to image_tag(@user.avatar), @user %>
                          <% end %>
                        </span>
                        <span class="name">
                          <%= link_to recipe.user.name, @user %>
                        </span>
                        <span class="description">
                          <%= recipe.description %>
                        </span>
                    </span>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="tabs-pane" id="starred-tab">
          <div class="search-bar">
            <div class="search-box">
              <%= form_tag [@user, :recipes], method: :get do %>
                <%= text_field_tag :q, (params[:q] if params[:type] == "starred"), placeholder: "Search project", class: "q-field" %>
                <%= hidden_field_tag :type, :starred %>
                <%= submit_tag "Search", class:"search-button" %>
              <% end %>
            </div>
          </div>

          <div class="recipes">
            <ul class="recipe-list">
              <% @recipes.each do |recipe| %>
                <li class="recipe-item">
                  <p class="cover"><%= link_to "", [@user, recipe] %></p>
                    <span class="summary">
                        <span class="title">
                          <%= link_to recipe.title, [@user, recipe] %>
                        </span>
                        <span class="avatar-thumb">
                          <% if @user.avatar != nil %>
                            <%= link_to image_tag(@user.avatar), @user %>
                          <% end %>
                        </span>
                        <span class="name">
                          <%= link_to recipe.user.name, @user %>
                        </span>
                        <span class="description">
                          <%= recipe.description %>
                        </span>
                    </span>
                </li>
              <% end %>
            </ul>
          </div>
        </div>


      </div>
    </div>
  </section>

</section>

<% content_for :bottom do %>
  <script>
    tabby.init({
      toggleActiveClass: 'active',
      contentActiveClass: 'active',
      initClass: 'js-tabby',
      callbackBefore: function ( toggle, tabID ) {},
      callbackAfter: function ( toggle, tabID ) {}
   });
  </script>
<% end %>
