<p id="notice"><%= notice %></p>

<h1><%= @recipe.title %></h1>

<p>
  <%= image_tag @recipe.photo %>
</p>


<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<%= link_to 'Edit', [:edit, @owner.becomes(Owner), @recipe] %> |
<%= link_to 'Back', [@owner.becomes(Owner), :recipes] %>
