<%= form_for(current_user) do |f| %>
  <% if current_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(current_user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% current_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= image_tag current_user.avatar_url(:thumb) if current_user.avatar.present? %>
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
  </div>

  <div class="field">
    <label>
      <%= f.check_box :remove_avatar %>
      Remove avatar
    </label>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
