<!DOCTYPE html>
<html>
  <head>
    <title>Gitfab2</title>
    <%= content_for?(:stylesheet) ? yield(:stylesheet) : stylesheet_link_tag("application", media: "all", "data-turbolinks-track" => true) %>
    <%= content_for?(:javascript) ? yield(:javascript) : javascript_include_tag("application", "data-turbolinks-track" => true) %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <%= browserid_js_tag %>
    <%= content_for?(:content) ? yield(:content) : yield %>
    <%= content_for?(:bottom) ? yield(:bottom) : nil %>
  </body>
</html>
