<section id ="layouts-header">
  <div class="inner">
    <div class="container">
      <div id="logo">
        <%= link_to "gitFab", root_path %>
      </div>
      <div id="search-box">
        <%= form_tag :search, method: :get do |f| %>
          <%= text_field_tag :q, nil, placeholder: "Search project", id: "search-form" %>
        <% end %>
      </div>

      <% if user_signed_in? %>
        <% if current_user.name %>
          <div id="tools">
            <div class="box">
              <div id="user">
                <% if current_user.avatar.present? %>
                  <%= link_to image_tag(current_user.avatar, class: "avator-thumb"), [current_user, :recipes] %>
                <% end %>
                <%= link_to current_user.name, recipes_path(owner_name: current_user.name) %>
              </div>
              <div id="create-recipe">
                <%= link_to "+", new_recipe_path(owner_name: current_user.name) %>
              </div>
              <div id="logout">
                <%= link_to "", destroy_user_session_path, method: :delete %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div id ="sign-in">
          <%= link_to "Sign In", "#", class: "persona-login-button" %>
        </div>
      <% end %>

    </div>
  </div>
</section>
