<section id ="layouts-header">
  <div class="inner">
    <div class="container">
      <div id="logo">
        <%= link_to "gitFab", root_path %>
      </div>
      <div id="search-box">
        <%= form_tag :search, method: :get do |f| %>
          <%= text_field_tag :q, nil, placeholder: "Search project", id: "search-form" %>
        <% end %>
      </div>

      <% if user_signed_in? %>
        <div id="tools">
          <div class="box">
            <div id="user">
              <% if current_user.avatar.present? %>
                <%= link_to image_tag(current_user.avatar, class: "avator-thumb"), [current_user] %>
              <% end %>
              <%= link_to current_user.name, [current_user] %>
            </div>
            <div id="create-recipe">
              <%= link_to "+", [:new, current_user, :recipe] %>
            </div>
            <div id="logout">
              <%= link_to "ロ", destroy_user_session_path, method: :delete  %>
            </div>
          </div>
        </div>
      <% else %>
        <div id ="sign-in">
          <%= link_to "Sign In", "#", class: "persona-login-button" %>
        </div>
      <% end %>

    </div>
  </div>
</section>
