<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag "posts", "data-turbolinks-track" => true %>
<% end %>
<%= content_for :javascript do %>
  <%= javascript_include_tag "posts", "data-turbolinks-track" => true %>
<% end %>
<%= content_for :content do %>
  <%= tinymce_assets %>
  <div id="content">
    <%= yield %>
  </div>
<% end %>
<%= render partial: "layouts/base_layout" %>
